# env & creds
.env
.env.*
*.key
*.pem

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/

# airflow
logs/
airflow-webserver.pid
airflow-scheduler.pid

# os / editor
.DS_Store
.vscode/
.idea/

# screenshots exports or large tmp
*.tmp
